

.addCardsContainer {
    font-family: 'Chewy',sans-serif;
    padding-top: 20px;  /* MARGIN WOULD BE BETTER BUT NOT WORKING */
    height: 65vh;

}

.addCards {
    background-color: var(--lightPurple);
    border-radius: 15px;
    padding : 15px;
    width: 95vw;
}

#categoryName {
    margin-bottom: 0;
}

#listName {
    margin-bottom: 0;
    margin-top: 20px;
}

.entete {
    gap: 30%;
}

#enteteQnA {
    margin-bottom: 5px;
}

.QnAContainer {
    padding-top: 10px; /*HERE TO MARGIN WIOULD BE BETTER BUT NOT WORKING */
}


.inputLarge {
    border-radius: 15px;
    padding: 3px;
    margin: 0;
    width: 290px;
    height: 30px;
}

.inputQnA {
    border-radius: 15px;
    padding: 3px;
    margin: 0;
    width: 140px;
    height: 30px;
}

.scrollElementVertically {
    height: 245px;
    overflow-y: auto;
}






/* ADD CARDS BUTTON + MASCOT */
.addCardsButtonContainer {
    height: 65px;
    flex-direction: row-reverse;
    margin-top: 20px;
}


#purpleMascotSitting {
   position: absolute;
   bottom: 0px;
   left: 5px;
}