/* WHAT IF ALL THE DOCUMENT (body) IS DISPLAY FLEX AND JUSTIFY-CONTENT-CENTER */


#cardContainer {
    width: 100vw;
    height: 70dvh;
}

#card {
    width: 80%;
    height: 70%;
    background-color: rgba(170, 143, 239, 0.8);
    border-radius: 15px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.questionContainer, .answerContainer {
    outline: 1px solid blue;
}

.answerContainer {
    height: 120px;
}
.questionContainer {
    height: 370px;
    width: 90%;
}
#questionText {
    max-height: 370px;
    max-width: 90%;
    font-size: clamp(12px, 15vw, var(--BigCardTextSize));
    font-family: 'Chewy', sans-serif;
    position: absolute;
    text-overflow: hidden;
    word-wrap: break-word; /*the text breaks int o a new line if it's too long and exceeds the width's container */
}

.arrowEnd2 {
    position: absolute;
    bottom: 10px;
    
}



/* BUTTONS MISTAKES & VALIDATE */

.buttonContainer {
    width : 100vw;
    height: 80px;
}

.hidden {
}

.validateButtonContainer, .mistakeButtonContainer {
    width: 64px;
    height: 73px;
    text-decoration: none;
}

.validateButton {
    width: 70px;
    height: 70px;
    background-color: var(--validateBtn);
    border-radius: 45%;
}

.mistakeButton {
    width: 70px;
    height: 70px;
    background-color: var(--mistakeBtn);
    border-radius: 45%;
}

.textBtn  {
    font-family: 'Chewy', sans-serif;
    font-size: 55px;
}

#linkToNextPage {
    text-decoration: none;
    color: var(--darkColorFont);
}