/* FIRST CONTAINER */

/* AJOUTER UN DROPSHADOW */

.resumContainer {
    display: flex;
    justify-content: center;
    font-family: 'Chewy', sans-serif;
    margin-top: 50px; 
    width: 100vw;
}

.resum {
    width: 95vw;
    height: 210px;
    background-color: var(--lightPurple);
    border-radius: 15px;
    padding: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.textContent {
    font-size: var(--btnTextSize);
}




/* STUDY PART */

.containerStudyPart {
    padding-top: 50px;
}

#studyPart {
    width: 350px;
    height: 220px;
    gap: 20px;
}

.studyElementRMistakesContainer {
    outline: 1px solid red;
    row-gap: 20px;
}

.leContainerDuTexte {
    width: 90%;
    flex-shrink: 0;
    overflow-wrap: break-word;
    outline: 1px solid green;
}

#containerStudyPart {
    width: 120px;
    height: 120px;
    background-color: var(--darkPurple);
    /*outline: 1px solid blue;*/
    text-decoration: none;
    color: var(--whiteColorFont);
    font-family: 'Chewy', sans-serif;
    font-size: var(--smallContentTextSize);
    border-radius: 15px;
    overflow-wrap: break-word;
    outline: 1px solid blue;
}

#purpleMascotProf {
    transform: scaleX(-1);
}






/* START EXERCISE BTN */
#btnContainer {
    margin-top: 30px;
    width: 200px;
    height: 60px;
    background-color: var(--lightPurple);
    border-radius: 15px;
    font-family: 'Chewy', sans-serif;
    text-decoration: none;
}

#textBtnExercise {
    color: var(--btnColorFont);
    font-size: var(--btnTextSize);
}